@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #212529;
}

.header {
    background-color: #F8F9FA;
    width: 100%;
    height: 48px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .div-logo {
    width: calc((1 / 6) * 100%);
    height: 100%;
    border-right: 1px solid #00000040;
}

.header img {
    width: 80px;
    margin-left: 16px;
    margin-top: 18px;
}

.my-container {
    display: flex;
    padding-left: 0 !important;
    margin-top: 48px;
}

.aside {
    padding-top: 17.61px;
    width: calc((1 / 6) * 100%);

    position: fixed;
    top: 48px;
    left: 0;
}

.aside p {
    font-weight: 500;
    font-size: 12px;
    line-height: 14.4px;
    color: #212529BF;
    margin-top: 40px;
    margin-left: 16px;
    margin-bottom: 4px;

}

.workspaces {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.workspaces .boards {
    display: flex;
    flex-direction: column;
}

.workspaces .line {
    width: 100%;
    border: 1px solid #00000040;
}

.workspaces .boards .item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #0D6EFD;
}

.workspaces .boards .item:hover {
    opacity: 0.6;
    cursor: pointer;
}

.workspaces .boards img {
    height: 16px;
    width: 16pxs;
    margin: 12px 8px 12px 16px;
}

.workspaces .boards span {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}

.main {
    flex: 1;
    height: 100vh;
    padding: 16px 24px;
    border-left: 1px solid #00000040;
    margin-left: calc((1 / 6) * 100%);
}

.workspaces .your-boards{
    padding: 0 16px;
}

.workspaces .your-boards .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.workspaces .your-boards .title span{
    color: #172B4D;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.042px;
}

.workspaces .your-boards .title img {
    width: 24px;
    height: 24px;
}

.workspaces .your-boards .title img:hover{
    cursor: pointer;
    opacity: 0.6;
    transform: scale(1.5);
    transition: all linear 0.5s;
}

.your-boards .list-your-boards{
    padding: 0 ;
}

.your-boards .list-your-boards .item{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 12px;
}

.list-your-boards .item img{
    width: 24px;
    height: 20px;
    border-radius: 2px;
    object-fit: cover;
}

.list-your-boards .item span {
    color: #172B4D;
    font-size: 13.781px;
    line-height: 20px;
}














